h1 {
  font-size: 36px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

html, body {
  padding: 0;
  margin: 0; }

.container {
  background-color: yellowgreen; }
  .container .cell {
    background-color: #c2c2c2;
    border: 1px solid #00ff;
    padding: 10px 0; }

@media all and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 0 auto; }
    .container .row {
      display: block; }
      .container .row .cell {
        display: block;
        margin: 10px 0; } }

@media all and (min-width: 601px) {
  .container {
    width: 550px;
    margin: 0 auto; }
    .container .row {
      display: flex;
      flex-direction: row; }
      .container .row.space-between {
        justify-content: space-between; }
      .container .row .cell {
        flex-grow: 1;
        margin: 0 10px; }
        .container .row .cell:first-of-type {
          margin-left: 0; }
        .container .row .cell:last-of-type {
          margin-right: 0; }
        .container .row .cell.cell-1 {
          flex-grow: 1; }
        .container .row .cell.cell-2 {
          flex-grow: 2; }
        .container .row .cell.cell-3 {
          flex-grow: 3; }
        .container .row .cell.cell-4 {
          flex-grow: 4; } }

@media all and (min-width: 720px) {
  .container {
    width: 700px;
    margin: 0 auto; } }

@media all and (min-width: 1024px) {
  .container {
    width: 900px;
    margin: 0 auto; } }
