@import "colors";
@import "mixins";
$gutter: 10px;
html, body {
  padding: 0;
  margin: 0;
}
.container {
  background-color: yellowgreen;

  .cell {
    @include cellMixin($gray);
  }
}


@media all and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 0 auto;

    .row {
      display: block;
      .cell {
        display: block;
        margin: $gutter 0;
      }
    }
  }
}

@media all and (min-width: 601px) {
  .container {
    width: 550px;
    margin: 0 auto;

    .row {
      display: flex;
      flex-direction: row;
      &.space-between {
        justify-content: space-between;
      }

      .cell {
        flex-grow: 1;
        margin: 0 $gutter;

        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
        @for $i from 1 through 4 {
          &.cell-#{$i} {
            flex-grow: $i;
          }
        }
      }
    }
  }
}

@media all and (min-width: 720px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1024px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
}
